{% extends 'base.html' %}

{% block content %}

<div class="container py-4">  
  <div class="d-grid gap-3">
      <a href="{{ url_for('atas.listar_atas') }}" class="btn btn-outline-success btn-lg">Atas</a>
      <a href="{{ url_for('notas_fiscais.notas_lista') }}" class="btn btn-outline-success btn-lg">Notas fiscais</a>
      <a href="{{ url_for('fornecedores.fornecedores_lista') }}" class="btn btn-outline-success btn-lg">Fornecedores</a>
      <a href="{{ url_for('empenhos.empenhos_lista') }}" class="btn btn-outline-success btn-lg">Empenhos</a>
      <a href="{{ url_for('empenhos.extrato_empenhos') }}" class="btn btn-outline-success btn-lg">Extrato de Empenhos</a>
  </div>
</div>


{% endblock %}