{% extends 'base.html' %}

{% block content %}

<div class="modal fade" id="cadastroProdutoModal" tabindex="-1" aria-labelledby="cadastroProdutoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="{{ url_for('produtos.cadastro_produtos') }}" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cadastroProdutoModalLabel">Cadastrar Produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
                <label for="codigo" class="form-label">Código</label>
                <input id="codigo" name="codigo" type="number" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="nome" class="form-label">Nome</label>
                <input id="nome" name="nome" type="text" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="descricao" class="form-label">Descrição</label>
                <input id="descricao" name="descricao" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label for="unidade" class="form-label">Unidade</label>
                <input id="unidade" name="unidade" type="text" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="quantidade_minima" class="form-label">Quantidade minima</label>
                <input id="quantidade_minima" name="quantidade_minima" type="number" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="tipo" class="form-label">Tipo</label>
                <select name="tipo" id="tipo" class="form-select">
                    <option value="perecivel">Perecível</option>
                    <option value="nao_perecivel">Não Perecível</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>


<div>
  <a href="{{ url_for('main.estoque_menu') }}" class="btn btn-secondary m-3">
    <i class="bi bi-arrow-left"></i>
  </a>
</div>


<div class="container py-4">
  <div class="page-title mb-4">
    <h2 class="fw-bold border-bottom pb-2">
      Produtos
    </h2>
  </div>
</div>


{% if session.get('nivel_acesso') in ['Superusuario', 'Admin'] %}
<div style="display: flex; justify-content: center; margin-bottom: 15px;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastroProdutoModal">
        Cadastrar novo produto
    </button>
</div>
{% endif %}


<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
      <button class="nav-link active" id="nao_pereciveis-tab" data-bs-toggle="tab" data-bs-target="#nao_pereciveis-tab-pane" type="button" role="tab" aria-controls="nao_pereciveis-tab-pane" aria-selected="true">Não perecíveis</button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="pereciveis" data-bs-toggle="tab" data-bs-target="#pereciveis-tab-pane" type="button" role="tab" aria-controls="pereciveis" aria-selected="false">Perecíveis</button>
  </li>
</ul>


<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="nao_pereciveis-tab-pane" role="tabpanel" aria-labelledby="nao_pereciveis-tab" tabindex="0">

<div class="container mt-5">
<div class="card mb-3 shadow" style="border: 0px; padding: 30px; border-radius: 15px;">
    <div class="table-responsive">

        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Cód.</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Unid.</th>
                <th scope="col">Qntd. minima</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        
        <tbody>

            {% for produto in produtos %}
                <tr>
                    {% if produto.tipo.value == 'nao_perecivel'%}
                    <td scope="row">{{ produto.codigo }}</td>
                    <td><a href="{{ url_for('estoque.movimentacao_por_produto', produto_id=produto.id) }}" style="text-decoration: none;">{{ produto.nome }}</a></td>
                    <td>{{ produto.descricao | replace(';', '<br>') | safe }}</td>
                    <td>{{ produto.unidade }}</td>
                    <td>{{ produto.quantidade_minima }}</td>
                    <td>{{ produto.status.value | capitalize }}</td>
                    <td style="display: flex; gap: 10px;">
                        {% if session.get('nivel_acesso') in ['Superusuario', 'Admin', 'Editor'] %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProdutoModal" onclick="fillEditForm('{{produto.id}}', '{{produto.codigo}}', '{{produto.nome}}', '{{produto.descricao}}', '{{produto.unidade}}', '{{produto.quantidade_minima}}', '{{produto.status.value}}', '{{produto.tipo.value}}')">Editar</button>
                        {% else %}
                            <button type="button" class="btn btn-secondary">Editar</button>
                        {% endif %}                    </td>
                    {% endif %}
            </tr>
            {% else %}
                <p>Ainda não há produtos cadastrados</p>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>

<div class="tab-pane fade" id="pereciveis-tab-pane" role="tabpanel" aria-labelledby="pereciveis-tab" tabindex="0">

<div class="container mt-5">
<div class="card mb-3 shadow" style="border: 0px; padding: 30px; border-radius: 15px;">
    <div class="table-responsive">

        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Cód.</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Unid.</th>
                <th scope="col">Qntd. minima</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        
        <tbody>

            {% for produto in produtos %}
                <tr>
                    {% if produto.tipo.value == 'perecivel'%}
                    <td scope="row">{{ produto.codigo }}</td>
                    <td><a href="{{ url_for('estoque.movimentacao_por_produto', produto_id=produto.id) }}" style="text-decoration: none;">{{ produto.nome }}</a></td>
                    <td>{{ produto.descricao }}</td>
                    <td>{{ produto.unidade }}</td>
                    <td>{{ produto.quantidade_minima }}</td>
                    <td>{{ produto.status.value | capitalize }}</td>
                    <td style="display: flex; gap: 10px;">
                        {% if session.get('nivel_acesso') in ['Superusuario', 'Admin', 'Editor'] %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editProdutoModal" onclick="fillEditForm('{{produto.id}}', '{{produto.codigo}}', '{{produto.nome}}', '{{produto.descricao}}', '{{produto.unidade}}', '{{produto.quantidade_minima}}', '{{produto.status.value}}', '{{produto.tipo.value}}')">Editar</button>
                        {% else %}
                            <button type="button" class="btn btn-secondary">Editar</button>
                        {% endif %}
                    </td>
                    {% endif %}
            </tr>
            {% else %}
                <p>Ainda não há produtos cadastrados</p>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

<div class="modal fade" id="editProdutoModal" tabindex="-1" aria-labelledby="editProdutoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="editProdutoForm" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editProdutoModalLabel">Editar Produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <div class="mb-3">
                <label for="edit_codigo" class="form-label">Código</label>
                <input id="edit_codigo" name="edit_codigo" type="text" class="form-control" disabled>
            </div>
            
            <div class="mb-3">
                <label for="edit_nome" class="form-label">Nome</label>
                <input id="edit_nome" name="edit_nome" type="text" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="edit_descricao" class="form-label">Descrição</label>
                <input id="edit_descricao" name="edit_descricao" type="text" class="form-control">
            </div>

            <div class="mb-3">
                <label for="edit_unidade" class="form-label">Unidade</label>
                <input id="edit_unidade" name="edit_unidade" type="text" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="edit_quantidade_minima" class="form-label">Quantidade minima</label>
                <input id="edit_quantidade_minima" name="edit_quantidade_minima" type="text" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="edit_tipo" class="form-label">Tipo</label>
                <select name="edit_tipo" id="edit_tipo" class="form-select">
                    <option value="perecivel">Perecível</option>
                    <option value="nao_perecivel">Não Perecível</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="edit_status" class="form-label">Status</label>
                <select id="edit_status" name="edit_status" class="form-select">
                    {% for st in ['ativo', 'inativo'] %}
                        <option value="{{ st }}">{{ st | capitalize }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    function fillEditForm(id, codigo, nome, descricao, unidade, quantidade_minima, status, tipo) {
        document.getElementById("edit_codigo").value = codigo;
        document.getElementById("edit_nome").value = nome;
        document.getElementById("edit_descricao").value = descricao;
        document.getElementById("edit_unidade").value = unidade;
        document.getElementById("edit_quantidade_minima").value = quantidade_minima;
        document.getElementById("edit_status").value = status;
        document.getElementById("edit_tipo").value = tipo;

        document.getElementById("editProdutoForm").action = "{{ url_for('produtos.editar_produto', produto_id=0) }}".replace('0', id);
    }

    const modalCadastroProduto = document.getElementById('cadastroProdutoModal');
  modalCadastroProduto.addEventListener('shown.bs.modal', function () {
    const input = document.getElementById('codigo');
    input.focus();
  });

  const modalEditProduto = document.getElementById('editProdutoModal');
  modalEditProduto.addEventListener('shown.bs.modal', function () {
    const input = document.getElementById('edit_nome');
    input.focus();
  });
</script>

    
{% endblock %}