{% extends 'base.html' %}
{% block content %}

<div class="container py-4">
  <div class="page-title mb-4">
    <h2 class="fw-bold border-bottom pb-2">
      Sobre
    </h2>
  </div>
<div class="container mt-5">
<div class="card mb-3 shadow" style="border: 0px; padding: 30px; border-radius: 15px;">
  <div class="card-body">
    <p>Este projeto faz parte de um Trabalho de Conclusão de Curso desenvolvido no IFCE Campus Crato</p>

    <div class="section">
      <h2 class="fw-bold border-bottom pb-2">Equipe</h2>
      <div class="info-box">
        <p><strong>Aluno</strong>: Matheus Soares do Nascimento</p>
        <p><strong>Professor Orientador</strong>: Yuri Almeida Lacerda</p>
      </div>
    </div>

    <div class="section">
      <h2 class="fw-bold border-bottom pb-2">Contato</h2>
      <div class="info-box">
        <p>Email para comunicação sobre o projeto:</p>
        <p><strong>matheus.soares10@aluno.ifce.edu.br</strong></p>
      </div>
    </div>

    <div class="section">
      <h2 class="fw-bold border-bottom pb-2">Propósito do Sistema</h2>
      <p>O sistema tem como objetivo gerenciar as rotinas internas do refeitório do IFCE Campus Crato. Ele facilita o controle e registro de processos que antes eram feitos de forma manual.</p>

      <h3>Principais funcionalidades</h3>
      <ul>
        <li>Controle de estoque de alimentos e materiais</li>
        <li>Cadastro e acompanhamento de empenhos</li>
        <li>Registro e armazenamento de notas fiscais</li>
        <li>Contagem e registro de pessoas atendidas nas refeições</li>
      </ul>

      <h3>Especificações técnicas</h3>
      <ul>
        <li>Front End: HTML, CSS, JavaScript e Jinja2</li>
        <li>Back End: Python e Flask</li>
        <li>Banco de dados: MySQL e SQLAlchemy</li>
      </ul>
    </div>

  </div>
  </div>
  </div>
  </div>
{% endblock %}
