{% extends 'base.html' %}

{% block content %}

<div class="d-flex align-items-center justify-content-center flex-grow-1">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h4 class="text-center mb-3">Login</h4>
    <form action="/login" method="POST">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" autofocus required>
      </div>

      <div class="mb-3 position-relative">
        <label for="password" class="form-label">Senha</label>

        <div class="input-group">
          <input type="password" class="form-control" id="password" name="password" required>

          <button class="btn btn-outline-secondary" type="button" onclick="togglePassword()" tabindex="-1">
            <i id="toggle-icon" class="bi bi-eye"></i>
          </button>
        </div>
      </div>
      <!-- <a href="#" onclick="validateForgotPassword(event);">Esqueceu a senha?</a> -->
      <button type="submit" class="btn btn-primary w-100">Entrar</button>
    </form>
  </div>
</div>

<form id="forgot-form" action="{{ url_for('usuarios.forgot_password') }}" method="POST">
  <input type="hidden" name="email" id="forgot-email">
</form>

<script>
  function togglePassword() {
    const field = document.getElementById("password");
    const icon = document.getElementById("toggle-icon");

    if (field.type === "password") {
      field.type = "text";
      icon.classList.remove("bi-eye");
      icon.classList.add("bi-eye-slash");
    } else {
      field.type = "password";
      icon.classList.remove("bi-eye-slash");
      icon.classList.add("bi-eye");
    }
  }


  function validateForgotPassword(event) {
    event.preventDefault();
    const email = document.getElementById('email').value.trim();
    if (!email) {
      alert('Por favor, insira seu email para recuperar a senha.');
      return;
    }
    
    document.getElementById('forgot-email').value = email;
    document.getElementById('forgot-form').submit();
  }
</script>

{% endblock %}
