{% extends 'base.html' %}

{% block content %}


<div>
  <a href="{{ url_for('atas.listar_atas') }}" class="btn btn-secondary m-3">
    <i class="bi bi-arrow-left"></i>
  </a>
</div>

<div class="container py-4">
  <div class="page-title mb-4">
    <h2 class="fw-bold border-bottom pb-2">
      Ata {{ ata.numero }}/{{ ata.ano }}
    </h2>
  </div>


<div class="card shadow" style="border: 0px;">
  <div class="card-body">
    <form>
    <div class="row mb-3">
      <div class="col-md-6">
        <label class="form-label fw-semibold">Fornecedor</label>
        <p class="form-control">{{ fornecedor.nome }}</p>
      </div>
      <div class="col-md-6">
        <label class="form-label fw-semibold">Tipo</label>
        <p class="form-control">{{ ata.tipo.value | replace('_', ' ') | capitalize }}</p>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">  
        <label class="form-label fw-semibold">Valor total</label>
        <p class="form-control">{{ total | format_money }}</p>
      </div>
      <div class="col-md-6">  
        <label class="form-label fw-semibold">Valor restante</label>
        <p class="form-control">{{ total_restante | format_money }}</p>
      </div>
    </div>
    </form>
  </div>
</div>
</div>



<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
      <button class="nav-link active" id="itens-tab" data-bs-toggle="tab" data-bs-target="#itens-tab-pane" type="button" role="tab" aria-controls="itens-tab-pane" aria-selected="true">Itens</button>
  </li>
  <li class="nav-item" role="presentation">
      <button class="nav-link" id="empenhos-tab" data-bs-toggle="tab" data-bs-target="#empenhos-tab-pane" type="button" role="tab" aria-controls="empenhos-tab-pane" aria-selected="false">Empenhos</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="itens-tab-pane" role="tabpanel" aria-labelledby="itens-tab" tabindex="0">

{% if ['admin', 'nutricionista', 'financeiro'] | check_intersection(session.get('roles')) %}
<div style="display: flex; justify-content: center; margin-top: 25px;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastroItemAtaModal">
        Cadastrar novo item
    </button>
</div>
{% endif %}

<div class="container mt-5">
<div class="card mb-3 shadow" style="border: 0px; padding: 30px; border-radius: 15px;">
  <div class="card-body">
    <div class="table-responsive">

        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Cod.</th>
                <th scope="col">Nome</th>
                <th scope="col">Qntd. Máxima</th>
                <th scope="col">Valor Unitário</th>
                <th scope="col">Valor Total</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        
        <tbody>

            {% for item in itens %}
                <tr>
                    <td>{{ produtos.get(item.produto_id).codigo }}</td>
                    <td>{{ produtos.get(item.produto_id).nome }}</td>
                    <td>{{ item.quantidade_maxima }}</td>
                    <td>{{ item.valor_unitario | format_money }}</td>
                    <td>{{ item.total | format_money }}</td>
                    <td style="display: flex; gap: 10px;">
                      {% if ata.status.value == 'ativo' and ['admin', 'nutricionista', 'financeiro'] | check_intersection(session.get('roles')) %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editItemAtaModal" onclick="fillEditItemForm('{{item.id}}', '{{item.produto_id}}', '{{item.quantidade_maxima}}', '{{item.valor_unitario | format_money(False) }}')">Editar</button>
                        <form action="{{ url_for('atas.excluir_item_ata', item_id=item.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este item?')">
                          <button type="submit" class="btn btn-danger">Excluir</button>
                        </form>
                      {% else %}
                        <button type="button" class="btn btn-secondary" onclick="alert('Você não tem permissão para editar este item.')">Editar</button>
                        <button type="button" class="btn btn-secondary" onclick="alert('Você não tem permissão para excluir este item.')">Excluir</button>
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

<div class="tab-pane fade" id="empenhos-tab-pane" role="tabpanel" aria-labelledby="empenhos-tab" tabindex="0">


{% if ['admin', 'nutricionista', 'financeiro'] | check_intersection(session.get('roles')) %}
<div style="display: flex; justify-content: center; margin-top: 25px;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastroEmpenhoModal">
        Cadastrar novo empenho
    </button>
</div>
{% endif %}


<div class="container mt-5">
<div class="card mb-3 shadow" style="border: 0px; padding: 30px; border-radius: 15px;">
  <div class="card-body">
    <div class="table-responsive">

        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Ano</th>
                <th scope="col">Status</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        
        <tbody>

            {% for empenho in empenhos %}
                <tr>
                    <td><a href="{{ url_for('empenhos.empenho_info', empenho_id=empenho.id) }}" style="text-decoration: none;">{{ empenho.numero }}</a></td>
                    <td>{{ empenho.ano }}</td>
                    <td>{{ empenho.status.value | capitalize }}</td>
                    <td>
                      {% if ata.status.value == 'ativo' and ['admin', 'nutricionista', 'financeiro'] | check_intersection(session.get('roles')) %}
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editEmpenhoModal" onclick="fillEditEmpenhoForm('{{empenho.id}}', '{{empenho.numero}}', '{{empenho.ano}}', '{{empenho.status.value}}')">Editar</button>
                      {% else %}
                        <button type="button" class="btn btn-secondary" onclick="alert('Você não tem permissão para editar este item.')">Editar</button>
                      {% endif %}
                      </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>

</div>


<div class="container mt-5">
  <div class="card mb-3 shadow" style="border: 0px; padding: 30px; border-radius: 15px;">
    <div class="card-body">
      
      <!-- Botão para alternar -->
      <button id="toggleBtn" class="btn btn-primary mb-3">Ver resumo</button>

      <div class="table-responsive" style="width: 100%; table-layout: auto; white-space: nowrap;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cod.</th>
              <th scope="col">Nome</th>
              <th scope="col">Qntd. Licitada</th>
              <th scope="col">Valor Unitário</th>
              {% for empenho in empenhos %}
                <th scope="col" class="col-empenho">
                  <a href="#" style="color: red; text-decoration: none;">
                    {{ empenho.ano }}NE{{ empenho.numero }}
                  </a>
                </th>
              {% endfor %}
              <th scope="col">Empenhado</th>
              <th scope="col">Saldo</th>
              <th scope="col">Valor restante</th>
            </tr>
          </thead>
          
          <tbody>
            {% for item in itens %}
              <tr>
                <td>{{ produtos.get(item.produto_id).codigo }}</td>
                <td>{{ produtos.get(item.produto_id).nome }}</td>
                <td>{{ item.quantidade_maxima }}</td>
                <td>{{ item.valor_unitario | format_money }}</td>
                
                {% for empenho in empenhos %}
                  {% for it in empenho_itens.get(empenho.id) %}
                    {% if it.produto_id == item.produto_id %}
                      <td class="col-empenho">{{ it.quantidade_empenhada }}</td>
                    {% endif %}
                  {% endfor %}
                {% endfor %}

                <td>{{ item.quantidade_empenhada }}</td>
                <td>{{ item.saldo }}</td>
                <td>{{ item.valor_restante | format_money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="cadastroItemAtaModal" tabindex="-1" aria-labelledby="cadastroItemAtaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('atas.cadastro_item_ata', ata_id=ata.id) }}" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cadastroItemAtaModalLabel">Cadastrar Item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="produto_id" class="form-label">Produto</label>
            <select id="produto_id" name="produto_id" class="form-select" required>
              {% for produto_id, produto in produtos.items() %}
              {% if produto.status.value == 'ativo' %}
                <option value="{{ produto_id }}">{{ produto.nome }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="quantidade_maxima" class="form-label">Quantidade Máxima</label>
            <input id="quantidade_maxima" name="quantidade_maxima" type="number" value="0" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="valor_unitario" class="form-label">Valor Unitário</label>
            <input id="valor_unitario" name="valor_unitario" type="text" value="0,00" class="form-control" required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editItemAtaModal" tabindex="-1" aria-labelledby="editItemAtaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editItemAtaForm" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editItemAtaModalLabel">Editar Item</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="edit_produto_id" class="form-label">Produto</label>
            <select id="edit_produto_id" name="edit_produto_id" class="form-select" disabled>
              {% for produto_id, produto in produtos.items() %}
                <option value="{{ produto_id }}">{{ produto.nome }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="edit_quantidade_maxima" class="form-label">Quantidade Máxima</label>
            <input id="edit_quantidade_maxima" name="edit_quantidade_maxima" type="number" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="edit_valor_unitario" class="form-label">Valor Unitário</label>
            <input id="edit_valor_unitario" name="edit_valor_unitario" type="text" class="form-control" required>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="cadastroEmpenhoModal" tabindex="-1" aria-labelledby="cadastroItemEmpenhoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('empenhos.cadastro_empenho', ata_id=ata.id) }}" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="cadastroEmpenhoModalLabel">Cadastrar Empenho</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="numero" class="form-label">Número</label>
            <input id="numero" name="numero" type="number" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="ano" class="form-label">Ano</label>
            <input id="ano" name="ano" type="number" class="form-control" required>
          </div>

          <input type="hidden" name="fornecedor_id" id="fornecedor_id" value="{{ ata.fornecedor_id }}">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="editEmpenhoModal" tabindex="-1" aria-labelledby="editItemEmpenhoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="editEmpenhoForm" method="POST">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editEmpenhoModalLabel">Editar Empenho</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3">
            <label for="edit_numero" class="form-label">Número</label>
            <input id="edit_numero" name="edit_numero" type="number" class="form-control">
          </div>

          <div class="mb-3">
            <label for="edit_ano" class="form-label">Ano</label>
            <input id="edit_ano" name="edit_ano" type="number" class="form-control" required>
          </div>

          <div class="mb-3">
            <label for="edit_status" class="form-label">Status</label>
            <select id="edit_status" name="edit_status" class="form-select" required>
              <option value="ativo">Ativo</option>
              <option value="inativo">Inativo</option>
            </select>

          </div>

          <input type="hidden" name="fornecedor_id" id="fornecedor_id" value="{{ ata.fornecedor_id }}">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
    function fillEditItemForm(id, produto_id, quantidade_maxima, valor_unitario) {
        document.getElementById("edit_produto_id").value = produto_id;
        document.getElementById("edit_quantidade_maxima").value = quantidade_maxima;
        document.getElementById("edit_valor_unitario").value = valor_unitario;

        document.getElementById("editItemAtaForm").action = "{{ url_for('atas.editar_item_ata', item_id=0) }}".replace('0', id);
    }

    function fillEditEmpenhoForm(id, numero, ano, status) {
        document.getElementById("edit_numero").value = numero;
        document.getElementById("edit_ano").value = ano;
        document.getElementById("edit_status").value = status;

        document.getElementById("editEmpenhoForm").action = "{{ url_for('empenhos.editar_empenho', empenho_id=0) }}".replace('0', id);
    }

    const toggleBtn = document.getElementById("toggleBtn");
    const cols = document.querySelectorAll(".col-empenho");

    let resumoAtivo = false;

    toggleBtn.addEventListener("click", () => {
      resumoAtivo = !resumoAtivo;

      cols.forEach(col => {
        col.style.display = resumoAtivo ? "none" : "";
      });

      toggleBtn.textContent = resumoAtivo ? "Ver detalhes" : "Ver resumo";
    });

    const modalItemAta = document.getElementById('editItemAtaModal');
  modalItemAta.addEventListener('shown.bs.modal', function () {
    const input = document.getElementById('edit_quantidade_maxima');
    input.focus();
  });
</script>



{% endblock %}