{% extends 'base.html' %}

{% block content %}

<div class="container py-4">
  <div class="page-title mb-4">
    <h2 class="fw-bold border-bottom pb-2">
      <i class="bi bi-person-circle me-2"></i> Relatório por produto
    </h2>
  </div>
</div>

<div class="container py-4">

<div class="card mb-3">
    <div class="card-body">
      <form id="formProduto" action="{{ url_for('relatorios.relatorio_produto') }}" class="d-flex flex-column flex-md-row align-items-md-center justify-content-between gap-3">
            <select name="produto_select" id="produto_select" class="form-control">
              {% for produto in produtos %}
                    {% if produto_id == produto.id %}
                        <option value="{{ produto.id }}" selected>{{ produto.nome }}</option>
                    {% else %}
                        <option value="{{ produto.id }}">{{ produto.nome }}</option>
                    {% endif %}
              {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Pesquisar</button>
      </form>
</div>
</div>
</div>


<div class="container py-4">
  <div class="page-title mb-4">
    <h3 class="fw-bold border-bottom pb-2">
      <i class="bi bi-person-circle me-2"></i> Consumo anual
    </h3>
  </div>
  <img src="data:image/png;base64,{{ grafico }}" alt="Gráfico" style="width: 900px; height: 550px;">
</div>

{% endblock %}
